<div class="row">
    <div class="columns large-12">
        <p>
            Many thanks for using <it>Vulture</it>.  For all questions, remarks,
            bugs, please use <a href="https://bitbucket.org/damyot/vulture">bitbucket</a>.
        </p>
    </div>
</div>

<div class="row" style="margin-top: 100px;">
    <div class="large-4 large-centered columns" style="text-align: center;">
            <img src="images/gopher.svg" width="100px"> 
    </div>

</div>

<div class="row" >
    <div class="large-8 large-centered columns" style="text-align: center;">
            <p>
                This program could not have been possible without the
                exceptionnal tools already available such as
            </p>
            <ul>
                <li><a href="http://golang.com"> the Go programming language</a></li>
                <li><a href="https://angliarjs.org"> AngliarJs</a></li>
                <li><a href="http://coffeescript.org/"> CoffeeScript</a></li>
                <li><a href="http://www.mongodb.org/"> MongoDB</a></li>
                <li><a href="http://gruntjs.com/"> Gruntjs</a></li>
                <li><a href="foundation.zurb.com"> Zurb's foundation</a></li>
                <li>And many others!</li>
                
            </ul>
    </div>
   
</div>