
<vul-search-bar query="{{ query }}" callback="search"></vul-search-bar>

<div class="row">
    <div class="large-12 columns" style="text-align: center;">
            <a class="fa fa-chevron-left" ng-href="{{ previousDocumentUrl() }}" ng-show="{{ hasPreviousDocument() }}"></a>
            <kbd>{{idx}} / {{ meta.count || 0  | number | replaceAllCommasBySpaces }}</kbd>
            <a class="fa fa-chevron-right" ng-href="{{ nextDocumentUrl() }}"></a>
    </div>
</div>

<div class="row">
    <div class="large-12 columns" style="text-align: center;" ng-show="!closeAlert && notfound">
            <div class="alert-box">
                No document Found!
                <a class="close" ng-click="closeAlert=true">&times;</a>
            </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <table style="width: 100%;">
            <thead>
              <tr>
                <th style="min-width:100px;">Keys</th>
                <th style="text-align: center;">Values</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(key, value) in doc">
                <td style="vertical-align: top;">
                    <vul-key key-name="key" value="value" indexes="meta.indexes" ></vul-key>
                </td>
                <td>
                    <vul-value value="value" key="key" doc-id="doc._id"></vul-value>
                </td>
              </tr>
            </tbody>
        </table>
        
    </div>
</div>
<div class="row" ng-show="enlapsed_time">
    <div class="columns large-12" style="text-align: center;">
        took {{enlapsed_time}} seconds
    </div>
</div>