<div class="row" ng-show="mode=='single_document'">
    <div class="large-12 columns" style="text-align: center;">
            <a class="fa fa-chevron-left" ng-href="{{ previousDocumentUrl() }}" ng-show="{{ hasPreviousDocument() }}"></a>
            <kbd>{{idx}} / {{ meta.count }}</kbd>
            <a class="fa fa-chevron-right" ng-href="{{ nextDocumentUrl() }}"></a>
    </div>
</div>

<div class="row" ng-show="mode=='all'">
    <div class="large-12 columns" style="text-align: center;">
            <span>Showing a data set of {{geojsonData.data.geometries.length}} datum.</span>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <leaflet width="100%" height="500px" geojson="geojsonData" center="center"></leaflet>
    </div>
</div>

<div class="row" ng-show="mode=='single_document' && idx + meta.count < 1000">
    <div class="large-12 columns" style="text-align: center;" >
            <a ng-href="{{ getAggredatedUrl() }}">Aggregated representation</a>
    </div>
</div>
