<vul-search-bar query="{{ queryObject }}" callback="changeQuery"></vul-search-bar>


<div class="row" ng-show="mode=='single_document'">
    <div class="large-12 columns" style="text-align: center;">
            <a class="fa fa-chevron-left" ng-href="{{ previousDocumentUrl() }}" ng-show="{{ hasPreviousDocument() }}"></a>
            <kbd>{{idx}} / {{ meta.count + idx - 1}}</kbd>
            <a class="fa fa-chevron-right" ng-href="{{ nextDocumentUrl() }}"></a>
    </div>
</div>

<div class="row" ng-show="mode=='all'">
    <div class="large-12 columns" style="text-align: center;">
            <span>Showing {{meta.count}} documents on the same map.</span>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <leaflet width="100%" height="500px" geojson="geojsonData" center="center"></leaflet>
    </div>
</div>


<br>
<div class="row">
    <div class="columns large-12">
        <ul class="inline-list">
            <li ng-show="mode=='single_document' && idx + meta.count < 1000">
                <a ng-href="{{ getAggredatedUrl() }}">aggregated representation</a>
            </li>
            <li>
                <a ng-href="{{ getGoogleMapLink() }}" target="_blank">google map</a>
            </li>
            <li>
                <a ng-click="showCopyLink = !showCopyLink">
                    <span>copy link</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row" ng-show="showCopyLink">
    <div class="columns large-12 text-center">
        <span>
            <input value="{{ getUrlWithLocation() }}" style="font-size: 0.8em;" select-on-click readonly> 
            <kbd>Ctrl</kbd> + <kbd>C</kbd>
        </span>
    </div>
</div>
