<div class="row">
    <div class="large-12 columns" style="text-align: center;">
            <a class="fa fa-angle-left" ng-href="{{ previousDocumentUrl() }}" ng-show="{{ hasPreviousDocument() }}"></a>
            <kbd>{{idx}} / {{ meta.count}}</kbd>
            <a class="fa fa-angle-right" ng-href="{{ nextDocumentUrl() }}"></a>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <leaflet width="100%" height="500px" geojson="geojsonData" center="center"></leaflet>
    </div>
</div>